; config.ini

[FACEBOOK]
VERIFY_TOKEN =
ACCESS_TOKEN =
DEPRECATED_VERIFY_TOKEN =
DEPRECATED_ACCESS_TOKEN =

[DIALOGFLOW]
DIALOGFLOW_PROJECT_ID =
DIALOGFLOW_ACCESS_TOKEN =

[OPENAPI]
NEIS_OPENAPI_KEY =
; NEIS OPENAPI 키는 https://open.neis.go.kr/ 에서 신청하실 수 있습니다.