; config.ini

[FACEBOOK]
VERIFY_TOKEN =
ACCESS_TOKEN =
DEPRECATED_VERIFY_TOKEN =
DEPRECATED_ACCESS_TOKEN =

[DIALOGFLOW]
DIALOGFLOW_PROJECT_ID =
DIALOGFLOW_ACCESS_TOKEN =

[OPENAPI]
NEIS_OPENAPI_KEY =
